<app-header></app-header>

<h1>User Stories</h1>

<div class="container-fluid row">
    <div class="col-12 col-lg-6">
        <p>
           <i>Save places for an upcoming trip</i> <br>
           -Julie is planning for her upcoming trip to Rome <br>
           -She starts on the search page in the section for Rome and uses the heart to save places<br>
           -She remembers her friend, Matt, telling her about a place he went to when he visited<br>
           -Julie searches his handle, goes to his visted restaurants, searches Rome, and finds "Tonnarello"<br>
        </p>
        <h2>IMG</h2>

        <h3>CONS OF FOODIE</h3>
        <ul>
            <li>You need at least 5-8 friends that are active on the app to really see the benefits otherwise you aren't
                getting as many reccomendations so you might as well use another app.
            </li>
            <li> If your purpose is to use it to travel you need well-traveled friends.
            </li>
        </ul>
    </div>
</div>