<app-header></app-header>

<h1>User Stories</h1>

<div class="container-fluid row">
    <div class="col-12 col-lg-6">
        <h4>User Story 1</h4>
            <i>Writing a Review</i> <br>
            <p>
                -Arthur just visited The Valloway Terrace in London and wants to review his experience <br>
                -He goes to the search page to find it, clicks on the restaurant, then clicks "Write a Review" <br>
                -Arthur is able to create a title, rate it and write his review <br>
                -He then can go back to the restaurant page and find his review <br>
            </p>
        <h4>User Story 2</h4>
        <p>
           <i>Save places for an upcoming trip</i> <br>
           -Julie is planning for her upcoming trip to Rome <br>
           -She starts on the search page in the section for Rome and uses the heart to save places<br>
           -She remembers her friend, Matt, telling her about a place he went to when he visited<br>
           -Julie searches his handle, goes to his visted restaurants, searches Rome, and finds "Tonnarello"<br>
        </p>
        <h4>User Story 3</h4>
        <p>
            <i>Look for a restaurant near you</i> <br>
            -Rachel is looking where to eat on the map, she's near Covent Garden <br>
            -She sees on the map that her friend Monica went to a place a few blocks away but left it a 2.5 <br>
            -But at the restaurant next door her friend Chandler left a review of 4.5 so she decides to go there  
        </p>
        <br>
        <h3>CONS OF FOODIE</h3>
        <ul>
            <li>You need at least 5-8 friends that are active on the app to really see the benefits otherwise you aren't
                getting as many reccomendations.
            </li>
            <li> If your purpose is to use it to travel you need well-traveled friends or want to be the person who tries restaurants first.
            </li>
        </ul>

    </div>
</div>