<app-header></app-header>

<div class="container-fluid row">
    <div class="col-12">
        <h1>Goal of the App</h1>
        <p>
            The end goal of this app that will be finished in Assignment 2 is to create a way for 
            friends to share their restaurant experiences with one another. The user will be able to: </p>
            <ul>
                <li>Search a map for restaurants</li>
                <li>Search for a name in a search bar</li>
                <li>Save places</li>
                <li>Write reviews</li>
                <li>Go through friends saved and visted places</li>
            </ul>
            <p>Users will be able to search through their friends visited places and see their review of it to determine
            whether or not they would like to add it to their saved. Or while in a certain city users can go to the map
            and look around to see highly rated places. If they're looking for a certain cuisine they can also go to the 
            search page and scroll. <br> <br>
            I liked this idea because as much as I enjoy Yelp and Google Maps for reviews on where to eat I wanted something
            where it would be just my own saved places and what I thought of them, as well as my friends. There are countless
            times where friends and I have wanted to go back to a restaurant but we could not remember the name, the problem is 
            solved when I go into my saved places on Foodie.
            </p>
    </div>
</div>