<header>
    <nav id="mainNavbar" class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
      <div class="col-4">
        <div class="navbar-header">
            <a class="nav-link" href="/">FOODIE</a>
          </div>
      </div>
      <button class="navbar-toggler hidden-sm-up"type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
        <div id="links" class="col-8">
          <ul class="navbar-nav me-auto mb-2 mb-md-">
              
            <li class="nav-item">
              <a class="nav-link" href="/goal">GOAL</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="/userstories">USER STORIES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sketches">SKETCHES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/critiques">CRITQUES</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/technologies">TECHNOLOGIES</a>
              </li>
            </ul>
      </div>
      </div>
    </nav>
    </header>