h1 {
    text-align: center;
    padding-top: 82px;
}

img {
    width: 350px;
    height: 350px;
    object-fit: contain;
    align-items: center; 
    padding-bottom: 25px; 
}

img:hover {
    -webkit-transform: scale(1.6,1.6);
    padding: 25px;
  }