<app-header></app-header>

<h1>Sketches</h1>

<div class="container-fluid row">
    <div class="col-12 col-lg-6">
        <p>
            1. When the user first opens the app they will be brought to this page centered at their current location. If there
            are places their friends have visited around them those reviews will pop up as well as their own but in a different color.
            The bottom bar will have a button for the map, search, saved, and profile pages as well as a search bar at the top of the map.
        </p>
        <p style="font-size: 8px">Click image to enlarge<p>
        <img src="assets/sketches/map.jpeg">
        <p>
            2. Users can click the search button and explore different places if they want to plan for their next visit. They
            can also browse their own town or reccomended places.
        </p>
        <img src="assets/sketches/search.jpeg">
        <p>
            3. Users can go through their saved restaurants and sort them alphabetically by title or city.
        </p>
        <img src="assets/sketches/saved.jpeg">
        <p>
            4. After leaving a review a restaurant will be added to the users "visited" folded along with their rating.
        </p>
        <img src="assets/sketches/visited.jpeg">
        <p>
            5. In order to keep the app from becoming too much like a social media platform their friends will not be shown
            and you can only see their saved or visited places. A fun feature that is added though is the amount of reviews left
            and places tried. 
        </p>
        <img src="assets/sketches/profile.jpeg">
        <p>
            6. Once a user clicks on a restaurnt when scrolling it takes them to the restaurant page where they can find it on the map,
            see which of their friends have been there, their reviews, and write a review if they just went.
        </p>
        <img src="assets/sketches/respage.jpeg">
        <p>
            7. A review consists of a title, a scale of 0.0-5.0 that they can adjust, and of course their written review.
        </p>
        <img src="assets/sketches/reviewpage.jpeg">
        <p>
            8. Users can browse restaurants here and use the heart to save it.
        </p>
        <img src="assets/sketches/browsing.jpeg">
        <p>
            9. Once you get to the restaurants page the user can scroll through reviews left by them and their friends.
        </p>
        <img src="assets/sketches/listofreviews.jpeg">
    </div>
</div>