<app-header></app-header>

<h1>Sketches</h1>

<div class="container-fluid row">
    <div class="col-12 col-lg-6">
        <p>
            1. When the user first opens the app they will be brought to this page centered at their current location. If there
            are places their friends have visited around them those reviews will pop up as well as their own but in a different color.
            The bottom bar will have a button for the map, search, saved, and profile pages as well as a search bar at the top of the map.
        </p>
        <img src="assets/sketches/map.jpeg">
        <p>
            2. Users can click the search button and explore different places if they want to plan for their next visit. They
            can also browse their own town or reccomended places.
        </p>
        <img src="assets/sketches/search.jpeg">
        <p>
            3. Users can go through their saved restaurnts and sort them alphabetically by title or city.
        </p>
        <img src="assets/sketches/saved.jpeg">
        <p>
            4. After leaving a review a restaurant will be added to the users "visited" folded along with their rating.
        </p>
        <img src="assets/sketches/visted.jpeg">
        <p>
            5. In order to keep the app from becoming too much like a social media platform their friends will not be shown
            and you can only see their saved or visited places. A fun feature that is added though is the amount of reviews left
            and places tried. 
        </p>
        <img src="assets/sketches/visted.jpeg">
    </div>
</div>