<app-header></app-header>
<h1>Technologies to be used</h1>

<div class="container-fluid row">
    <div class="col-12">
            <h6><i>HTML & CSS</i></h6>
            <p> I've just spent this last summer developing a website using HTML, CSS, TypeScript, JavaScript and Angular
            so I feel very confident using these languages since they're still fresh in my mind. I hope to use some more
            challenging aspects to up my level of coding but for the basics of developing I'm excited to get started. 
            One challenge that I know I'll have in embedding Maps into the code since I've never done that before but
            I'm intrigued to leard how to do it. 
        </p>
    </div>
</div>

