<app-header></app-header>
<h1>Technologies and Experience</h1>

<!-- <div class="row">
<ngb-accordion #acc="ngbAccordion">
  <ngb-panel id="toggle" title="Angular">
    <ng-template ngbPanelContent>
      <p>Angular is a platform for web and mobile development that houses a lot of templates and components that are
      built in. Similar to HTML & CSS I used anguar to create the website so I think I'm pretty familiar with it 
      however I will be using it for more challenging aspects of code so I'm intrigued to learn more.</p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="toggle" title="Google Maps API">
    <ng-template ngbPanelContent>
      <p>Google Maps API will allow users to share their location in order to save restaurant locations from friends 
      and determine the ones closest to them. I've never had to integrate something like this before so I suspect
      it will be a challenge to do it for the first time. </p>   
    </ng-template>
  </ngb-panel>
  <ngb-panel id="toggle" title="HTML & CSS">
    <ng-template ngbPanelContent>
      <p>I've just spent this past summer developing a website using HTML, CSS, TypeScript, JavaScript and Angular
      so I feel very confident using these languages since they're still fresh in my mind. I hope to use some more
      challenging aspects to up my level of coding but for the basics of developing I'm excited to get started. </p>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
</div> -->

<div class="row">
  <ngb-accordion [closeOthers]="true" activeIds="static-1">
    <ngb-panel id="static-1" title="Angular">
      <ng-template ngbPanelContent>
        <p>Angular is a platform for web and mobile development that houses a lot of templates and components that are
          built in. Similar to HTML & CSS I used anguar to create the website so I think I'm pretty familiar with it 
          however I will be using it for more challenging aspects of code so I'm intrigued to learn more.</p>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-1" title="Google Maps API">
      <ng-template ngbPanelContent>
        <p>Google Maps API will allow users to share their location in order to save restaurant locations from friends 
          and determine the ones closest to them. I've never had to integrate something like this before so I suspect
          it will be a challenge to do it for the first time. </p> 
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-1" title="HTML & CSS">
      <ng-template ngbPanelContent>
        <p>I've just spent this past summer developing a website using HTML, CSS, TypeScript, JavaScript and Angular
          so I feel very confident using these languages since they're still fresh in my mind. I hope to use some more
          challenging aspects to up my level of coding but for the basics of developing I'm excited to get started. </p>
      </ng-template>
    </ngb-panel> -->
  </ngb-accordion>

</div>

          