@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

h1 {
    padding-top: 82px;
    text-align: center;
    margin-bottom: 25px;
    font-family: Georgia; 
    letter-spacing: 1.5px;
}

p {
    font-family: Georgia; 
    letter-spacing: .4px;
}

ul {
    font-family: Georgia; 
    letter-spacing: .4px;
}

.btn-link {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
