<app-header></app-header>

<div class="container-fluid row">
    <div class="col-12">
        <h1>Critique of <img id="logo" src="assets/screenshots/yelplogo.jpeg"></h1>
        <p style="text-align: center;">
            Yelp is among the top food review apps available to download with over 70 million users on their mobile app.
            Their idea was simple, one place for users to go to find reviews on restaurants and determine if it was worth
            trying.  
        </p>
        <div class="row">
            <h2>PROS</h2>
            <div class="col-12 col-lg-6">
                <p>
                    Lots of filters in order to decide the best fit for you.
                </p>
            </div>
            <div class="col-12 col-lg-6">
                <img src="assets/screenshots/filters.jpeg">
            </div> 
            <div class="col-12 col-lg-6">
                <p>
                    Has become more than just restaurant reviews, users can now find virtually any type of establishment.
                </p>
            </div>
            <div class="col-12 col-lg-6">
                <img id="yelp1" src="assets/screenshots/yelp1.jpeg">
            </div>
            <div class="col-12 col-lg-6">
                <p>
                    Businesses are able to verify themselves and have more of an online presence in order to grow their business.
                </p>
            </div>
            <div class="col-12 col-lg-6">
                <img id="yelp1" src="assets/screenshots/yelp2.jpeg">
            </div>
            <p>Users are able to take a quick glance at what the restaurant has to offer all, whether it comes to vegan options, 
                being good for kids, or if it's pet friendly.
            </p>
            <div class="col-12 col-lg-6">
                <img id="yelp1" src="assets/screenshots/amenitites.jpeg">
            </div>
            <h5 style="text-align: center; border-top: 1px solid black; padding-top: 25px; "><i>Comparison with Foodie</i></h5>
            <p style="text-align: center;">Overall Yelp does exactly what you would want and expect it to however businesses are able to pay to promote themselves
                while the main goal of Foodie is to get genuine reccomendations from friends or peers. That idea is lost when it comes to
                successful apps like Yelp, they no longer care how honest or real a review is, the main focus is to get more users or
                for buinesses to promote themselves. Foodie is simplistic, as great as all the features of Yelp are sometimes you just want
                to hear from a friend if it's worth a try.
            </p>
    </div>
</div>

